/*Styles for home.html*/

html{
	background-color: rgb(211, 197, 240);
}
.main{
	margin: auto;
}

.song-swipe{
	display: flex;
	flex-direction: column;
	justify-content: start;
	height: 100vh;
	margin: auto;
	font-family: sans-serif;
}

.song-swipe .title{
	font-size: 35px;
	margin: 5% 0 5% 0;
	color: purple;
}

.song-swipe .loading-element{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40vh;
}

.song-swipe .song-pair-container{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 0 8%;
	margin: 5% 0 5% 0;
}

.song-swipe .song-pair-container .divider-or{
	margin: 13% 0 auto 0;
}
.song-swipe .song-pair-container .divider-or h1{
	margin: 0;
	color: purple;
}

.song-swipe .song-pair-container .song{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40%;
	gap: 30px 0;
}

.song-swipe .song-pair-container img{
	border: 3px solid rgb(211, 197, 240);
	border-radius: 50%;
}

.song-swipe .song-pair-container .song button{
	width: 150px;
	height: 40px;
	border: 2px solid darkviolet;
	border-radius: 20px;
	cursor: pointer;
	font-size: 20px;
}

.song-swipe .song-pair-container .song button a{
	font-size: 20px;
}

.song-swipe .song-pair-container .song .song-bar{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10%;
}
.song-swipe .song-pair-container .song .song-bar img{
	cursor: pointer;
}

.song-swipe .song-pair-container .song .song-description{
	display: flex;
	flex-direction: column;
	gap: 5px 0;
	width: 85%;
	padding: 20px;
	border: 2px solid purple;
	border-radius: 20px;
}
.song-swipe .song-pair-container .song .song-description h1{
	margin: 0;
	font-size: 21px;
	font-weight: bold;
}
.song-swipe .song-pair-container .song .song-description h3{
	margin: 0;
	font-size: 17px;
}

@media screen and (max-width: 650px){
	.main{
		display: none;
	}
}

@media screen and (min-width: 650px){
	.main{
		width: 85%;
	}
}
@media screen and (min-width: 1080px){
	.main{
		width: 70%;
	}
}

@media screen and (min-width: 1240px){
	.main{
		width: 60%;
	}
	.song-swipe .song-pair-container .song{
		width: 30%;
	}
}