/*Styles for index.html*/
.{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
}
.main{
	width: 90%;
	margin: auto;
}
@media screen and (min-width: 650px){
	.main{
		width: 80%;
	}
}
@media screen and (min-width: 1080px){
	.main{
		width: 70%;
	}
}

@media screen and (min-width: 1240px){
	.main{
		width: 60%;
	}
}

/*Styles for welcome.html*/
.welcome-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: sans-serif;
	background-color: rgba(147,112,219, 0.5)
}

.welcome-main{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 40px 100px;
	margin: auto;
}

.welcome-main h1{
	margin: 0;
	font-size: 60px;
	color: darkviolet;
}

.welcome-main a{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 70px;
	font-size: 26px;
	font-weight: bold;
	color: white;
	background-color: rgb(30, 215, 96);
	border-radius: 30px;
	text-decoration: none;
}

.welcome-main a:hover{
	background-color: orange;
	transition: 0.1s;
}