/*Styles for index.html*/
.{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
}

/*Styles for welcome.html*/
.welcome-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: sans-serif;
	background-color: rgb(211, 197, 240);
}

.welcome-main{
	display: flex;
	flex-direction: column;
	gap: 40px 0px;
}

.welcome-main .welcome-top{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 40px 100px;
	margin: auto;
}

.welcome-main .welcome-top h1{
	margin: 0;
	font-size: 60px;
	color: darkviolet;
}

.welcome-main .welcome-top a{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 70px;
	font-size: 26px;
	font-weight: bold;
	color: white;
	background-color: rgb(30, 215, 96);
	border-radius: 30px;
	text-decoration: none;
}

.welcome-main .welcome-top a:hover{
	background-color: orange;
	transition: 0.1s;
}

.welcome-main .welcome-bottom{
	display: flex;
	flex-direction: column;
}

.welcome-main .welcome-bottom p{
	margin: 0px;
	font-size: 25px;
	text-align: center;
}

.welcome-main .welcome-bottom p a{
	color: rgb(31 108 203);
	text-decoration: none;
}